<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button (click)="changeFirst()">Change first</button>
      <app-server *ngFor="let server of serverElements" [element]='server' [name]='server.name'>
          <p>
            <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
            <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
          </p>
      </app-server>
    </div>
  </div>
</div>
