<app-header (selection)="select($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipe-book *ngIf="selection === 'recipe'"></app-recipe-book>
            <app-shopping-list *ngIf="selection !== 'recipe'"></app-shopping-list>
        </div>
    </div>
</div>
