<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.name }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button>Manage <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>