<div>
    <button (click)='toggleButton($event)'>Display details</button>
    <p *ngIf="display">this is a test paragraph</p>
    <ul *ngFor="let time of log">
        <li *ngIf="log.length >= 4; else less" [ngStyle]="{'backgroundColor': 'blue'}" [ngClass]="{'white': true}">{{ time }}</li>
        <ng-template #less>{{ time }}</ng-template>
    </ul>
</div>
