<div class="col-md-5">
  <app-recipe-list (recipeSelected)="store($event)"></app-recipe-list>
</div>
<div class="col-md-7">
  <app-recipe-instructions *ngIf="selectedRecipe; else otherwise" [recipe]="selectedRecipe"></app-recipe-instructions>
  <ng-template #otherwise>select a recipe</ng-template>
</div>