<div class="row">
    <div class="col-xs-12">
      <div class="btn btn-success">Add recipe</div>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeItem of recipes" [recipe]='recipeItem' (clicked)='clicked(recipeItem)'></app-recipe-item>
  </div>
</div>