<a href="#" class="list-group-item clearfix" (click)='selected()'>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-description'">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <!-- <img src="{{ recipe.imagePath }}" alt=""> -->
    <img [src]="recipe.imagePath">
  </span>
</a>