<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="recipe()">Recipes</a></li>
        <li><a href="#" (click)="shopping()">Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save data</a></li>
            <li><a href="#">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

