<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">Amount</label>
          <input type="number" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type='submit' (click)="addShoppingListItem(nameInput, amountInput)">Add</button>
          <button type="button">Delete</button>
          <button type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>