<app-edit-shopping-list (item)="addItem($event)">edit list</app-edit-shopping-list>
<hr>
<!-- this list follows below -->
<div class="row">
  <div class="col-xs-10">
    <app-shopping-item></app-shopping-item>
    <hr>
    <ul class="list-group">
      <a href="#" class="list-group-item" *ngFor="let ingredient of ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
